{% extends 'base.html' %}

{% block head %}
<title> Events </title>
{% endblock %}

{% block body %}
<div class="content">
    <h1> Events </h1>
    <div class="form-container">
        <h3> Add an event to your calendar: </h3>
        <form action="/" method="POST" onsubmit="return validateInput()">
            <input type="text" name="content" id="content" />
            <input type="date" name="event-date" id="event-date" />
            <input type="submit" value="Add Event" id="btn_add" />
        </form>
        <div class="error-message hidden"></div>

        <script> 
        
        function validateInput() {
            var eventDate = document.getElementById('event-date').value;
            var content = document.getElementById('content').value;

            if (eventDate === "" || content === "") {
            updateError("Cannot have empty inputs.")
            // Prevent form submission
            return false;
            }

            const regex = /^\d{4}-\d{2}-\d{2}$/;
            if (!(regex.test(eventDate))) {
               updateError("Invalid date format")
               return false;
            }

            // Can create date object
            var eventDateObj = new Date(eventDate);
            var currentDate = new Date();

            // Don't want to compare the time, just date & month
            eventDateObj.setHours(0, 0, 0, 0);
            currentDate.setHours(0, 0, 0, 0);

            // Compare the dates
            if (eventDateObj.getTime() < currentDate.getTime()) {
                updateError("Date can't be past.")
                return false; 
            }

            return true;
            }

            function updateError(msg) {
                document.querySelector('.error-message').classList.remove('hidden');
                document.querySelector('.error-message').innerHTML = msg;
                
                setTimeout(() => {
                    document.querySelector('.error-message').classList.add('hidden');
                    }, 1500);
            }
        
        </script>
    </div>

    {% if events | length < 1 %}
    <h3> You have no upcoming events. </h3>
    {% else %}

    <!-- <h1 class="event-title"> Your upcoming events </h1> -->
    <img src="static/upcoming-events.webp" alt="Upcoming Events icon"
        width="100"
        height="100" class="events-img">
    <table class="event-table">
        {% for event in events %}
        {% if loop.index % 5 == 1 %}
        <tr>
            {% endif %}
            <td>
                <div class="card">
                    <div class="card-content">
                        <div class="date-box">
                            {{ event.evDate.strftime("%B")
                            }}
                            {{
                            event.evDate.strftime("%d") }}
                            <br>
                            <div class="year-bubble">
                                {{
                                event.evDate.strftime("%Y-%m-%d").split('-')[0]
                                }}
                            </div>
                        </div>
                        <div class="event-content">
                            {{ event.content }}
                        </div>
                    </div>
                </div>
            </td>
            {% if loop.index % 5 == 0 or loop.last %}
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    {% endif %}

    <h1>Manage your events</h1>
    <table class="list-events">
        <tr>
            <th style="width: 50%">EVENT</th>
            <th style="width: 30%">DATE</th>
            <th style="width: 20%">ACTIONS</th>
        </tr>
        {% for event in events %}
        <tr>
            <td>{{event.content}}</td>
            <td>{{event.evDate.strftime("%Y-%m-%d")}}</td>
            <td>
                <a href="/delete/{{event.id}}" class="btn">Delete</a>
                <a href="/edit/{{event.id}}" class="btn">Edit</a>

            </td>
        </tr>
        {% endfor %}
    </table>

</div>

{% endblock %}